<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Available kms content</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>

<body id="reportsPage">
<div id="home">
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100">
            <a class="navbar-brand" href="/">
                <h1 class="tm-site-title mb-0">Imported courses</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="far fa-file-alt"></i>
                            Statistics
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/record">
                            <i class="far fa-user"></i>
                            Interview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <i class="fas fa-cog"></i>
                            Admin page
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container mt-5">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-350 tm-block-max-800">
                    <h2 class="tm-block-title">Imported courses</h2>
                    <div class="tm-course-table-container">
                        <table id="data-table" class="table table-hover tm-table-small tm-product-table"
                               style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 25%">TITLE</th>
                                <th scope="col" style="width: 35%">KEYWORDS</th>
                                <th scope="col" style="width: 20%">FILENAME</th>
                                <th scope="col" style="width: 20%">COMPLEXITY</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${courses}" th:each="course : ${courses}">
                                <td th:text="${course.title}" class="tm-product-name"
                                    style="white-space:pre-wrap; word-wrap:break-word"></td>
                                <td style="word-wrap:break-word">
                                    <span th:each="keyWord, iterStat : ${course.keyWords}"
                                          th:text="!${iterStat.last} ? ${keyWord} + ', ': ${keyWord}"></span>
                                </td>
                                <td th:text="${course.fileName}" class="tm-product-name"
                                    style="white-space:pre-wrap; word-wrap:break-word"></td>
                                <td th:text="${course.complexity}" class="tm-product-name"
                                    style="white-space:pre-wrap; word-wrap:break-word"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2020</b> All rights reserved.
            </p>
        </div>
    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>